.background-orange {
  background-color: orange;
}

.background-red {
  background-color: red;
}

.background-gray {
  background-color: gray;
}

.background-blue {
  background-color: blue;
}

.background-green {
  background-color: green;
}

.background-yellow {
  background-color: yellow;
}