
    <header class="bg-dark text-white text-center py-4">
        <h1>Consultar Pedidos</h1>
    </header>
   
    <div class="container">
        <div class="content">
            <label for="pedidoNumero">Número do Pedido:</label>
            <input class="ml-2" type="number" id="pedidoNumero" [(ngModel)]="pedidoNumero">
            <button class="btn btn-primary ml-2" (click)="consultarPedido()">Consultar</button>
        </div>

        <div *ngIf="pedido" class="details">
            <h3>Detalhes do Pedido {{ pedido.id }}</h3>
            <p>Status: {{ pedido.status }}</p>
            <p>Valor Total: R$ {{ pedido.value }},00</p>
            <p>Prazo: {{ pedido.time }} minutos</p>

            <h4>Roupas no Pedido:</h4>
            <ul>
                <li *ngFor="let clothing of pedido.clothings">{{ clothing.name }} - Quantidade: {{ clothing.quantity }}
                </li>
            </ul>
        </div>
    </div>
