<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white border-right">
    <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
            <a href="#" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                <h5 id="title-menu">LOL - Lavanderia Online</h5>
            </a>
            <a href="#" class="list-group-item list-group-item-action py-2 ripple" aria-current="true"
                routerLink="/dashboard">
                <i class="fas fa-home"></i><span> Página Inicial</span>
            </a>
            <ng-container *ngIf="isEmployee; else customerLinks">
                <!-- Links específicos para funcionários -->
                <a routerLink="/listar-pedido" href="#" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-tasks"></i><span>Pedidos</span></a>
                <a routerLink="/roupas/listar" href="#" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-tshirt"></i><span>Roupas</span></a>
                <a routerLink="/funcionarios/listar" href="#"
                    class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-users"></i><span>Funcionários</span></a>
                <a routerLink="/relatorios" href="#" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-chart-bar"></i><span>Relatórios</span></a>
            </ng-container>
            <ng-template #customerLinks>
                <!-- Links específicos para clientes -->
                <a routerLink="/listar-pedido" href="#" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-tasks"></i><span> Meus Pedidos</span></a>
                <a routerLink="/novo-pedido" href="#" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-plus"></i><span> Novo Pedido</span>
                </a>
                <a routerLink="/consulta-pedido" href="#" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-search"></i><span> Consultar Pedidos</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-user"></i><span> Meu Perfil</span>
                </a>
            </ng-template>
            <!-- botão de sair e deslogar -->
            <a (click)="logout()" routerLink="login" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-sign-out-alt"></i><span> Sair</span></a>
        </div>
    </div>
</nav>
