body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.order-form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 300px; 
    background-color: #f9f9f9;
    flex: 1;
}

.clothes-list {
    list-style: none;
    padding: 0;
}

.clothes-list li {
    margin: 10px 0;
}

.clothes-checkbox {
    margin-right: 5px;
}

.total {
    margin-top: 20px;
    text-align: left;
}

#submit-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#submit-button:hover {
    background-color: #555;
}


footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: white;
    width: 100%;
    flex-shrink: 0;
}

/* Estilo do sidebar */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    padding-top: 20px;
}

.sidebar-header {
    text-align: center;
    margin-bottom: 20px;
}


.list-group-item list-group-item-action py-2 ripple li a {
    color: white;
    text-decoration: none;
    display: block;
}

.list-group list-group-flush mx-3 mt-4{
    background-color: #454d55;
}

/* Estilo do conteúdo */
.content {
    margin-top: 20px;
    margin-left: 250px;
    padding: 20px;
}

span {
    margin-left: 10px;
}

.separator {
    width: 1px;
    height: 100%;
    background-color: #ddd;
    margin-left: 230px; 
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 100;
}

.title-menu{
    font-weight: bold;
}