<div class="container">
    <div class="content">
        <label for="pedidoNumero">Número do Pedido:</label>
        <input
        (input)="consultarPedido()"
        class="ml-2"
        type="number"
        id="pedidoNumero"
        [(ngModel)]="pedidoNumero"
        placeholder="Digite um numero">
    </div>

    <div *ngIf="pedidos.length > 0;else noOrders" class="details">
        <h3>Resultados da Consulta</h3>
        <ul>
            <li *ngFor="let pedido of pedidos">
                <h4>Detalhes do Pedido {{ pedido.id }}</h4>
                <p>Status: {{ pedido.status }}</p>
                <p>Valor Total: R$ {{ pedido.value }},00</p>
                <p>Prazo: {{ pedido.time }} minutos</p>

                <h4>Roupas no Pedido:</h4>
                <ul>
                    <li *ngFor="let clothing of pedido.roupas">{{ clothing.name }} - Quantidade: {{ clothing.quantity }}</li>
                </ul>
            </li>
        </ul>
    </div>
    <ng-template #noOrders>
        <h3>Nenhum pedido encontrado</h3>
    </ng-template>

</div>
