<!DOCTYPE html>
<html dir="ltr" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOL Lavanderia Online</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="d-flex flex-column">
    <div class="container mt-4">
        <h1>Página de Relatórios</h1>
        <ul>
            <li><a routerLink="/relatorios/relatorio-receitas">Relatório de Receitas</a></li>
            <li><a routerLink="/relatorios/relatorio-clientes">Relatório de Clientes</a></li>
            <li><a routerLink="/relatorios/relatorio-clientesfieis">Relatório de Clientes Fiéis</a></li>
        </ul>
        <router-outlet></router-outlet>
    </div>
</body>

</html>