
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LOL Lavanderia Online</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<app-filter></app-filter>

  <div class="container mt-4">
    <ng-container *ngFor="let order of listOrder">
      <div class="border rounded p-3 mb-3" [ngClass]="{
          'background-orange': order.status === 'Pago',
          'background-red': order.status === 'Rejeitado' || order.status === 'Cancelado',
          'background-green': order.status === 'Finalizado',
          'background-blue': order.status === 'Aguardando pagamento',
          'background-gray': order.status === 'Recolhido',
          'background-yellow': order.status === 'Em Aberto'
        }">
       <ng-container *ngIf="isEmployee; else customerLinks">
        <header class="bg-dark text-white text-center py-4">
          <h1>Meus Pedidos</h1>
        </header>
  <div class="row">
    <h2 class="col-md-3">Pedido {{ order.id }}</h2>
    <button *ngIf="order.status === 'Em Aberto'" class="col col-lg-2 btn btn-warning" (click)="confirmarRecolhimento(order)">Confirmar Recolhimento</button>
    <button *ngIf="order.status === 'Recolhido'" class="col col-lg-2 btn btn-success" (click)="confirmarLavagem(order)">Confirmar Lavagem</button>
    <button *ngIf="order.status === 'Pago'" class="col col-lg-2 btn btn-primary" (click)="finalizarPedido(order)">Finalizar Pedido</button>


            </div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Status</th>
                  <th>Valor</th>
                  <th>Prazo</th>
                  <th>Criado em:</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ order.status }}</td>
                  <td>R$ {{ order.value }},00</td>
                  <td>{{ order.time }} minutos</td>
                  <td>{{ order.openDate | date: 'dd/MM/yyyy - HH:mm'}}</td>
                </tr>
              </tbody>
            </table>
            <table class="table">
              <thead>
                <tr>
                  <th>Tipo de Roupa</th>
                  <th>Quantidade</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let clothing of order.clothings">
                  <td>{{ clothing.name }}</td>
                  <td>{{ clothing.quantity }}</td>
                </tr>
              </tbody>
            </table>

        </ng-container>

      <ng-template #customerLinks>
        <header class="bg-dark text-white text-center py-4">
          <h1>Pedidos</h1>
        </header>
        <div class="container mt-4 flex-grow-1">
          <div class="row">
            <h2 class="col-md-7">Pedido {{ order.id }}</h2>
            <button *ngIf="order.status === 'Em Aberto'" class="col col-lg-2 btn btn-warning"
              (click)="pagarPedido(order)">Pagar Pedido</button>
              <button *ngIf="order.status === 'Aguardando pagamento'" class="col col-lg-2 btn btn-success"
              (click)="pagarPedido(order)">Pagar Pedido</button>
            <button *ngIf="order.status === 'Em Aberto'" class="col col-lg-2 btn btn-danger ml-2"
              (click)="cancelarPedido(order)">Cancelar Pedido</button>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Status</th>
                <th>Valor</th>
                <th>Prazo</th>
                <th>Criado em:</th>
                <th *ngIf="order.status === 'Finalizado'">Finalizado em:</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ order.status }}</td>
                <td>R$ {{ order.value }},00</td>
                <td>{{ order.time }} minutos</td>
                <td>{{ order.openDate | date: 'dd/MM/yyyy - HH:mm'}}</td>
                <td *ngIf="order.status === 'Finalizado'">{{ order.closeDate | date: 'dd/MM/yyyy - HH:mm'}}</td>
              </tr>
            </tbody>
          </table>
          <table class="table">
            <thead>
              <tr>
                <th>Tipo de Roupa</th>
                <th>Quantidade</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let clothing of order.clothings">
                <td>{{ clothing.name }}</td>
                <td>{{ clothing.quantity }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </div>
  </ng-container>


</div>
