<div class="d-flex flex-column">
    <div class="container mt-4">
        <h1>Relatórios de Receitas</h1>
        <div>
            Data inicial <input type="date" class="mr-5" data-toggle="collapse" aria-expanded="false"
                aria-controls="collapseExample" [(ngModel)]="dataInicial" [value]="dataInicial">
            Data Final <input type="date" class="mr-5" data-toggle="collapse" aria-expanded="false"
                aria-controls="collapseExample" [(ngModel)]="dataFinal" >
               
            <button printSectionId="lista-receitas" ngxPrint class="btn btn-primary margin_right=10" type="button" data-toggle="collapse"
                data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" (click)="gerarRelatorio()">
                Gerar Relatório
            </button>
        </div>
    </div>
</div>

<div id="lista-receitas" style="display: none;">
    <div *ngFor="let a of orders">
        {{ a.closeDate }}
    </div>
</div>