<!DOCTYPE html>
<html dir="ltr" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOL Lavanderia Online</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="d-flex flex-column">
    <div class="container mt-4">
        <h1>Relatório de Clientes</h1>
        <button class="btn btn-primary" (click)="generatePDF()">Gerar PDF</button>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>CPF</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td>{{ cliente.name }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.cpf }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>