<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<section class="login">
		<div class="login_box">
			<div class="left">
				<div class="contact">
					<form action="">
						<h3>BEM-VINDO</h3>
						<input type="text" placeholder="Usuário">
						<div>
							<div class="password-container">
								<input [type]="passwordVisible ? 'text' : 'password'" [(ngModel)]="password" placeholder="Senha">
								<span class="password-toggle" (click)="togglePasswordVisibility()">
								  <img [src]="passwordVisible ? 'assets/img/eye-open.svg' : 'assets/img/eye-closed.svg'" alt="Toggle Password" class="eye-icon">
								</span>
							  </div>
							  
							  
						</div>
						<div class="botoes">
							<a routerLink="/navbar" title=""> <button class="submit"> Fazer Login</button> </a>
							<a routerLink="/autocadastro" title=""> <button class="submit"> Cadastre-se</button> </a>
						</div>
					</form>
				</div>
			</div>
			<div class="right">
				<div> <img src="assets/img/laundry.jpg" alt=""></div>
			</div>
		</div>
	</section>
</body>

</html>