img{
	width: 100%;
}

.login {
    height: 1000px;
    width: 100%;
    background: radial-gradient(#6f00ff, #9900ff);
    position: relative;
}

.login_box {
    width: 1600px;
    height: 580px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #ffffff57;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px rgba(54, 88, 236, 0.267);
    display: flex;
    overflow: hidden;
}

.login_box .left{
  width: 41%;
  height: 100%;
  padding: 25px 25px;
}

.login_box .right{
  width: 59%;
  height: 100%
}

.left .contact{
	display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 73%;
    margin: auto;
}

.left h3{
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
}

.left input {
    border: none;
    width: 80%;
    margin: 15px 0px;
    border-bottom: 1px solid #9104fd7d;
    padding: 7px 9px;
    width: 100%;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
}

.left{
	background: linear-gradient(-45deg, #dcd7e0, #fff);
}

.submit {
    border: none;
    padding: 15px 35px;
    border-radius: 8px;
    display: block;
    margin: auto;
    margin-top: 50px;
    background: #583672;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    -moz-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
}

.right .right-text{
  height: 100%;
  position: relative;
  transform: translate(0%, 45%);
}

.right-text h2{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}

.right-text h5{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 19px;
  font-weight: 400;
}

.right .right-inductor{
  position: absolute;
  width: 70px;
  height: 7px;
  background: #fff0;
  left: 50%;
  bottom: 70px;
  transform: translate(-50%, 0%);
}

.botoes {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #fff;
}
