<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOL - Lavanderia Online</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d26eb65697.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white border-right">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
                <a href="#" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                    <h5 id="title-menu">LOL - Lavanderia Online</h5>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-2 ripple" aria-current="true"
                    routerLink="/dashboard">
                    <i class="fas fa-home"></i><span>Página Inicial</span>
                </a>
                <ng-container *ngIf="isEmployee; else customerLinks">
                    <!-- Links específicos para funcionários -->
                    <a routerLink="/listar-pedido" href="#" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-tasks"></i><span>Pedidos</span></a>
                    <a routerLink="/clothes" href="#" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-tshirt"></i><span>Roupas</span></a>
                    <a routerLink="/funcionarios/listar" href="#" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-users"></i><span>Funcionários</span></a>
                    <a routerLink="/reports" href="#" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-chart-bar"></i><span>Relatórios</span></a>
                </ng-container>
                <ng-template #customerLinks>
                    <!-- Links específicos para clientes -->
                    <a routerLink="/listar-pedido" href="#" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-tasks"></i><span>Meus Pedidos</span></a>
                    <a routerLink="/novo-pedido" href="#" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-plus"></i><span>Novo Pedido</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="icon-money"></i><span>Orçamentos</span>
                    </a>
                    <a routerLink="/consulta-pedido" href="#" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-search"></i><span>Consultar Pedidos</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-user"></i><span>Meu Perfil</span>
                    </a>
                </ng-template>
                <!-- botão de sair e deslogar -->
                <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-sign-out-alt"></i><span>Sair</span></a>
            </div>
        </div>
    </nav>
    
    

    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/jquery-migrate-3.0.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>